.App {
  max-width: 608px;
  margin: auto;
}
.title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.delete-button {
  background: #eb5757;
  border-radius: 4px;
  border: none;
  padding: 12px 26px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  float: right;
}
