.Box {
  padding: 80px 0px;
  background: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  @media (max-width: 1000px) {
    padding: 70px 30px;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
}

.Row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.Column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
}

.Heading {
  font-size: 24px;
  color: black;
  margin-bottom: 40px;
  font-weight: bold;
}

.FooterLink a {
  color: black;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.FooterLink a:hover {
  color: green;
  transition: 200ms ease-in;
}
