.tab-button {
  padding: 15px 32px;
  border: none;
  background: none;
  font-weight: 600;
}

.tab-button.tab-button--active {
  border-bottom: #2f80ed 4px solid;
  border-radius: 4px 4px 0px 0px;
}
