.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item-container-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0px;
}

.todo-item-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.todo-item-details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.todo-item-details.todo-item-details--completed {
  text-decoration: line-through;
}

.delete-button {
  background-color: #fff;
  font-size: 15px;
  color: white;
  float: right;
  cursor: pointer;
}
