.todo-input-button {
  border: none;
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  padding: 20px 40px;
  color: #fff;
  margin-left: 25px;
  font-weight: 600;
}

.todo-input-textinput {
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  padding: 20px 12px;

  width: 75%;
  font-weight: 600;

  font-size: 14px;
}

.todo-input-container {
  margin-top: 18px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
